@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-silver: rgb(245,245,245)
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Assurez-vous que le conteneur d'animation couvre tout l'écran */
.overflow-hidden {
  overflow: hidden;
}